<% content_for :title, "New listing" %>

<h1>New listing</h1>

<%= render "my_resources" %>

<h2>Create Listing</h2>

<%= render "form", listing: @listing %>

<br>

<div>
  <%= link_to "Back to listings", listings_path %>
</div>
